body {
    margin: 0px;
}

.page {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Шапка */
.first-panel, .second-panel {
    display: flex;
    justify-content: space-between;
}
.first-panel,.second-panel {
    margin-top: 5px;
}

.first-panel-shadow {
    margin: 0;
    position: relative;
    left: -35%;
    width: 101vw;
    height: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.1);
}

.first-panel button {
    font-size: 13px;
    width: 214px;
    height: 42px;
    padding: 10px;
    background-color: #ffa019;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border-width: 0px;
}

.first-panel span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight:normal;
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-item {
    margin-left: 30px;
    font-size: 14px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}


.image-header {
    margin:0;
    position: relative;
    left:-40%;
    height: 877px;
    width:104vw;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/scooter.jpg') no-repeat center center / cover ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-header button {
    width: 10%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 40px;
    margin-left: 3%;

}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    padding-top: 15%;
    color: #fff;
    text-align: center;
}

.main-title {
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.title-text {
    width: 65%;
    font-size: 20px;
    text-align: center;
}
/* Шапка */

/*////////////////////////////////////////////////////////////////*/

/* преимущества */
.advantages {
    margin-top: 120px;
}
.advantages-header {
    display: flex;
    justify-content: space-between;
}
.advantages h2 {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
}
.arrows {
    display: flex;
    margin-top: 35px;
}

/* Контейнеры преимуществ */

.advantages-icons {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;

}
.adv-icon-kach {
    margin-left: 20px;
}

.adv-icon-dost {
    margin-top: 10px;
}

.adv-icon-assort {
    margin-bottom: 15px;
}
.adv-icon-cons {
    margin-bottom: 20px;
    margin-right: 25px;
}

.advantages-text {
    display:flex;
    font-size: 17px;
}

.adv-text-dost {
    margin-left: 200px;
}

.adv-text-assort {
    margin-left: 180px;
}

.adv-text-cons {
    margin-left: 180px;
}

/* Cекция about */

.about {
    margin-top: 120px;
    margin-bottom: 90px;
}

.about h2 {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
}

.about p {
    font-size: 20px;
    margin-top: 60px;
}

/* Рассылка */

.subscribe {
    display: flex;
    background-color: #ffa019;
    left: -35%;
    margin: 0;
    width: 100vw;
    position: relative;
    align-items: center;
    height: 98px;
}

.subscribe-text {
    width: 300px;
    font-size: 18px;
    margin-left: 21%;
    color: #ffffff;
    font-weight:bold;
}

.name-input {
    width: 70px;
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
    padding: 10px;
    margin-left: 120px;
    padding-right: 150px;
}

.email-input {
    width: 70px;
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
    padding: 10px;
    margin-left: 30px;
    padding-right: 150px;
}

.name-text {
    color: #fff
}

.email-text {
    color: #fff
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: #fff;
    padding: 9px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 19px;
    font-weight: bold;
}

/* Особенности гироскутеров*/

.features h2 {
    margin-top: 140px;
    display: flex;
    font-size: 36px;
    font-weight: lighter;
}

.features-cont {
    display: flex;
    justify-content: space-between;
}

.minus-features, .plus-features-1, .plus-features-2 {
    margin-top: 60px;
    display:flex;
    flex-direction: column;
}

.feature-item, p{
    font-size: 20px;
}

p {
    margin-top: 40px;
}

/* Каталог */

.catalog {
    background-color:#fbfbfb;
    height: 690px;
    margin-top: 120px;
    width: 1300px;
    left:-70px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
.cat-panel {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

.cat-panel h2{
    display: flex;
    font-size: 36px;
    font-weight: lighter;
}

.cat-nav-panel {
    display: flex;
    margin-top: 40px;
}

.cat-nav-item {
    margin-left: 30px;
}

.cat-all {
    background-color:#ffa019;
    padding:2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #fff;
}

/* Карточки */

.cat-cards {
    display: flex;
    margin-top: 85px;
    padding-left: 40px;
}

.cat-card {
    background-color:#ffffff;
    padding-top: 20px;
    width: 290px;
    height: 440px;
    margin-right: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Заголовки карточек */
.cat-card-title {
    display: flex;
    background-image: url('../img/triangle.png');
    width: 94px;
    height: 39px;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    font-size: 14px;
}

.second-title {
    background-image: url('../img/triangle-2.png');
    width: 127px;
    height: 37px;
}

.third-title {
    background-image: url('../img/triangle-3.png');
    width: 203px;
    height: 37px;
}

.cat-card-name {
    font-size: 18px;
    width: 220px;
    margin-left: 50px;
}


.cat-card-price {
    margin-top: 20px;
    margin-left: 50px;
    font-size:20px;
    font-weight: bold;

}

/*  Наши консультанты   */

.consultants h2 {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    margin-top: 80px;
}

.conses {
    display: flex;
    justify-content: space-between;
}
.cons-cont {
    display: flex;
    margin-top: 90px;
}

.cons-icon {
    height: 160px;
    width: 160px;
}
.cons-content {
    background: #fbfbfb;
    height: 145px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

.cons-name {
    font-size: 20px;
}

.cons-job {
    font-style: italic;
    font-size: 12px;
    margin-top: 3px;
}

.cons-button {
    margin-top: 20px;
    background-color: #ffa019;
    border-width: 0;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    width: 70px;
    color: #fff;
    padding: 8px;
}

/*  Баннер  */
.banner {
    display: flex;
    font-size: 50px;
    background-color: #fbfbfb;
    width: 1800px;
    height: 200px;
    left: -30%;
    position: relative;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: bold;
    margin-top: 80px;
}

.stopper-1 {
    display: flex;
    position: relative;
    margin: 0;
    left: -250px;
}

.stopper-2 {
    display: flex;
    position: relative;
    margin: 0;
    right: -250px;
}

/*  Полезная информация */

.information h2 {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    margin-top: 80px;
}

.inf-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.inf-text {
    font-size: 18px;
}

/*  Футер   */

footer {
    margin-top: 160px;
    background-color: #fbfbfb;
    height: 372px;
    width: 100vw;
    padding-left: 20%;
}

.foot-left-column {
    
}
